<li class="clearfix<%= episode_status episode.airdate.to_s %>">

	<span class="epnum"><%= epnum episode %></span>
	
	<span class="airdate"><%= episode.airdate.to_s %></span>
	
	<span class="title">
		<%= episode.title %>
		<span class="file-name">
			<%= episode.show.name %> - <%= epnum episode %> - <%= episode.title %>
		</span>
	</span>
	
</li>
