<li class="clearfix<%= episode_status_class episode.airdate %>">

	<span class="epnum"><%= episode.epnum %></span>

	<span class="airdate"><%= episode.airdate.to_s %></span>

	<span class="title">
		<%= episode.proper_title %>
		<span class="file-name"><%= episode.show.name %> - <%= episode.epnum %> - <%= episode.filesafe_title %></span>
	</span>

</li>
