<li class="clearfix<%= episode_status episode.airdate.to_s %>">

	<span class="epnum"><%= epnum episode %></span>

	<span class="airdate"><%= episode.airdate.to_s %></span>

	<span class="title">
		<%= titlecase episode.title %>
		<span class="file-name"><%= episode.show.name %> - <%= epnum episode %> - <%= filesafe titlecase(episode.title) %></span>
	</span>

</li>
