<div id="all-episodes" class="all-episodes clearfix">

	<% for( var season in seasons) { var episodes = seasons[season]; %>
		<h3>Season <%= season %></h3>

		<ul>
			<% for( var i = 0, len = episodes.length; i < len; i++ ) { var episode = episodes[i]; %>
				<li class="clearfix">
					<span class="epnum">
						<%= episode.season %><%= episode.episode_number %>
					</span>
					<span class="airdate">
						<%= episode.airdate %>
					</span>
					<span class="title">
						<%= episode.title %>
						<span class="file-name">
							<%= show %> - <%= episode.season %><%= episode.episode_number %> - <%= episode.title %>
						</span>
					</span>
				</li>
			<% } %>
		</ul>

	<% } %>

</div>
