<ul id="all-episodes" class="all-episodes clearfix">

	<% _.each(episodes, function (episode) { %>
		
		<li class="clearfix">
			<span class="epnum">
				<%= episode.season %><%= episode.episode_number %>
			</span>
			<span class="airdate">
				<%= episode.airdate %>
			</span>
			<span class="title">
				<%= episode.title %>
				<span class="file-name">
					<%= show %> - <%= episode.season %><%= episode.episode_number %> - <%= episode.title %>
				</span>
			</span>
		</li>			
		
	<% }); %>
	
</ul>
