<div>
  <% for(var i = 0, len = shows.length; i < len; i++) { %>

    <% var show = shows[i]; %>

    <div class="results-show" data-showid="<%= show.id %>">

      <h4><%= show.name %></h4>

      <dl>

        <dt>Overview</dt>
        <dd><%= show.overview %></dd>

        <dt>Started</dt>
        <dd><%= show.started %></dd>

        <dt>Network</dt>
        <dd><%= show.network %></dd>

      </dl>

      <a class="create-show" href="#">+</a>

    </div>

  <% } %>
</div>
