<div class="shows off-air-shows">

  <h2>Off Air</h2>

  <% if off_air.any? %>

    <% off_air.each do |show| %>
      <div class="show-<%= show.id %> show clearfix" data-id="<%= show.id %>" data-name="<%= show.name %>">
        <h3>
          <span class="name">
            <%= show.name %>
            <%= options show if user_signed_in? %>
          </span>
        </h3>
      </div>
    <% end %>

  <% else %>

    <p class="none-message">No Off Air Shows</p>

  <% end %>

</div>
