<% if recent.any? %>
  <div class="recent-shows">

    <h2>Recently Aired</h2>

    <% recent.each do |show| %>
      <div class="show-<%= show.id %> show clearfix" data-id="<%= show.id %>" data-name="<%= show.name %>">

        <h3>
          <span class="name">
            <%= show.name %>
            <%= options show if user_signed_in? %>
          </span>
        </h3>

        <ul>
          <%= render show.episodes %>
        </ul>

      </div>
    <% end %>

  </div>
<% end %>
