<% shows.each do |show| %>

	<div class="show clearfix">
	
		<h2>
			<%= content_tag :span, show[:name], class: 'name' %>
			<%= pirate_link show[:name] %>
		</h2>
		
		<ul>
			<% show[:episodes].each do |episode| %>
				<li<%= aired_or_not episode['airdate'] %>>
					<span class="epnum"><%= show[:season] + episode['seasonnum'] %></span>
					<span class="airdate"><%= episode['airdate'] %></span>
					<span class="title">
						<%= episode['title'] %>
						<span class="file-name">
							<%= show[:name] %> - <%= show[:season] + episode['seasonnum'] %> - <%= episode['title'] %>
						</span>
					</span>
				</li>
			<% end %>
		</ul>
		
	</div>

<% end %>