<div id="show-<%= show.id %>" class="show clearfix" data-id="<%= show.id %>">

	<h2>
		<%= content_tag :span, show.name, class: 'name' %>
		<%= options show %>
	</h2>
	
	<ul>
		<%= render show.episodes %>
	</ul>
	
</div>
