<div class="main">
	<%= render 'shows', shows: @shows %>
</div>

<div class="footer">
	<%= render 'off_air', off_air: @off_air %>
</div>

<%= link_to 'Add Show', new_show_path, id: 'add-show', class: 'add-show' %>

<%= render 'jst/add_show' %>

<%= render 'jst/edit_show' %>

<%= render 'jst/search_results' %>

<%= render 'jst/no_search_results' %>

<%= render 'jst/notice' %>