<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TV Episodes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='robots' content='noindex,nofollow' />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield :body_class %>">
  <%= flash_notice(notice, 'message') if notice %>
  <%= flash_notice(alert, 'error') if alert %>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
